<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="mt-4">Dashboard</h1>
           <p class="lead mb-3">Welcome <%= user.name %></p>
           <a href="/users/logout" class="btn btn-success">Create your own chat room</a>
            <a href="/users/logout" class="btn btn-info">Logout</a>
            <a href="/users/delete" class="btn btn-primary">Delete</a>
            <a href="/users/update" class="btn btn-secondary">Update Account</a>
            <!-- <a href="https://zoom.us/j/4252455938?pwd=NDJZQWl1Zk8yVUxpRVJRT0lOTncyUT09" class="btn btn-link">Join Class</a> -->

           <!-- < div id="jiosaavn-widget"><div style="position:fixed;top:100%;">Listen to the <a href="https://www.jiosaavn.com/featured/weekly-top-15-hindi/8MT-LQlP35c_" target="_blank">latest songs</a>, only on <a href="https://www.jiosaavn.com" target="_blank">JioSaavn.com</a></div></div> -->

      </div>
    </div>
  </div>
  